body {
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
  // font-family: 'Noto Serif TC', serif;
}

.header {
  height: 82vh;
  background-color: #222222;
  color: white;
}

h1 {
  font-size: 38px;
}

.large-text {
  width: 80vh;
}

.search-bar {
  width: 100%
}

.searching {
  width: 90%;
  background-color: black;
  border-radius: 32px;
  color:white;
  font-size: 24px;
}

.bi-chat-square {
  position:absolute;
  left: 10px;
  font-size: 32px;
}


.for-right {
  position:absolute;
  right: 10px;
  font-size: 32px;
}

.journal {
  margin:12px;
  padding-right: 10px
}
