body {
  font-family: 'Noto Serif TC', serif;
  font-weight: 300;
  background-color: #F5F2F1;
  // font-family: 'Noto Serif TC', serif;
}

.header {
  height: 82vh;
  background-color: #222222;
  color: white;
}

h1 {
  font-size: 38px;
}

.large-text {
  width: 600px;
  font-size: 78px;
}

.search-bar {
  width: 100%
}

.searching {
  width: 80%;
  background-color: black;
  border-radius: 32px;
  color:white;
  font-size: 24px;
  // outline: 0;
  border: 1px solid black;
}

::placeholder {
  color:#AAAAAA;
}

.bi-chat-square {
  position:absolute;
  left: 10px;
  font-size: 32px;
}


.for-right {
  position:absolute;
  right: 10px;
  font-size: 32px;
}

.journal {
  margin:12px;
  padding-right: 10px
}

.card-selection {
  padding-left: 80px;
  padding-right: 80px;
  background-color: #F5F2F1;
}

.card-container {
  background-color: white;
}

.circle-selector {
  padding-top: 50px;
}
