.navvy {
  height: 84px;
  position:fixed;
  top: 0;
  background-color: #222222;
  color:white;
  width: 100%;
}

.large-text {
  width: 600px;
  font-size: 78px;
  padding-left: 50px;
}

.searchy {
  height: 142px;
  background-color: #222222;
}

.search-bar {
  padding-top: 38px;
}

.searching {
  width: 95%;
  background-color: black;
  border-radius: 32px;
  color:white;
  font-size: 24px;
  // outline: 0;
  border: 1px solid black;
  // margin-bottom:30px;
}

::placeholder {
  color:#AAAAAA;
}

.header {
  margin-top:84px;
  height: 330px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  padding: 72px 24px 60px;
}
